<div>
    <%= form.bs_label :collection_druid, 'Collection' %>
    <%= form.bs_collection_select :collection_druid, collections, :druid, :title, { include_blank: true, selected: Settings.default_collection } %>

    <%= form.bs_label :title, class: 'mt-2' %>
    <%= form.bs_text_field :title %>
    <%= form.bs_invalid_feedback :title %>

    <%= render NestedFormComponent.new(form:, model_class: AuthorForm, field: :authors, form_component: Works::AuthorFormComponent) %>

    <%= form.bs_label :abstract, class: 'mt-2' %>
    <%= form.bs_text_area :abstract, rows: 6 %>
    <%= form.bs_invalid_feedback :abstract %>

    <%= render Works::KeywordsFormComponent.new(form:) %>

    <% if work_form.published? %>
        <%= form.bs_label :related_resource_citation %>
        <%= form.bs_text_area :related_resource_citation, rows: 4 %>
        <%= form.bs_help_text 'This is the citation for the published or forthcoming article.' %>
        <%= form.bs_invalid_feedback :related_resource_citation %>

        <%= form.bs_label :related_resource_doi, 'Related resource DOI', class: 'mt-2' %>
        <%= form.bs_text_field :related_resource_doi %>
        <%= form.bs_invalid_feedback :related_resource_doi %>
        <div class="form-text">This is the DOI for the published or forthcoming article. For example, 10.5860/lrts.48n4.8259.</div>

        <%= form.hidden_field :published, value: true %>
    <% end %>

    <div class="d-inline-flex mt-3">
        <%= form.submit 'Submit', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', '/', type: 'button', class: 'btn btn-secondary ms-2' %>
    </div>
</div>
