<h1>New Work</h1>
<%= render 'files/new' %>

<h1 class="mt-4">Existing Works</h1>
<ul class="list-group">
    <% @works.each do |work| %>
        <li class="list-group-item">
            <%= work.title %><% if work.druid %> (<%= work.druid %>)<% end %>
        </li>
    <% end %>
</ul>

<nav class="mt-3">
  <ul class="pagination">
    <li class="page-item"><%= link_to_prev_page @works, 'Previous', class: 'page-link' %></li>
    <li class="page-item"><%= link_to_next_page @works, 'Next', class: 'page-link' %></li>
  </ul>
</nav>
