<h1>SHROOM</h1>
<div class="alert alert-light" role="alert">
    SHROOM is a proof-of-concept application for exploring:
    <ul>
        <li>The use of the <%= link_to 'Grobid', 'https://github.com/kermitt2/grobid', target: '_blank', rel: 'noopener' %> machine learning library to extract bibliographic metadata from scholarly articles to minimize manual entry by users.</li>
        <li>The use of SDR / DSA for the persistence of Cocina model digital objects to avoid synchronization problems between the deposit application and the repository.</li>
    </ul>

    <p>See <%= link_to 'https://github.com/sul-dlss-labs/SHROOM', 'https://github.com/sul-dlss-labs/SHROOM', target: '_blank', rel: 'noopener' %>
</div>

<h2>New Work</h2>
<%= render 'files/new' %>

<h2 class="mt-4">Existing Works</h2>
<%= form_with method: :get do |form| %>
    <div class="d-flex">
        <%= form.select :collection_druid, [['Filter by collection', '']] + @collections.map { |c| [c.title, c.druid] }, { selected: params[:collection_druid] }, { class: 'form-select', style: 'width: 300px;' } %>
        <%= form.submit 'Go', class: 'btn btn-primary btn-sm' %>
    </div>
<% end %>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Collection</th>
            <th scope="col">Druid</th>
            <th scope="col"><span class="visually-hidden">Action</span></th>
        </tr>
    </thead>
    <tbody>
        <% @works.each do |work| %>
            <tr>
                <th scope="row"><%= work.druid ? link_to(work.title, work_path(work)) : work.title %></th>
                <td><%= work.collection&.title %></td>
                <td><%= work.druid || 'Not deposited or accession not complete' %></td>
                <td><%= turbo_frame_tag(work, 'edit-button', src: edit_button_work_path(work), target: '_top') if work.druid %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<nav class="mt-3">
  <ul class="pagination">
    <li class="page-item"><%= link_to_prev_page @works, 'Previous', class: 'page-link' %></li>
    <li class="page-item"><%= link_to_next_page @works, 'Next', class: 'page-link' %></li>
  </ul>
</nav>
