<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to('Home', '/') %></li>
    <li class="breadcrumb-item active" aria-current="page">New article</li>
  </ol>
</nav>

<%= render Works::FallbackFormComponent.new(work_form: @work_form, work_file_id: params[:work_file], published: params[:published]) %>

<%= render FormLayoutComponent.new(work_file: @work_file) do |component| %>
    <% component.with_form do %>
        <%= form_with model: @work_form, builder: ShroomFormBuilder, data: { controller: 'submits-with', action: 'submits-with#showStatus' } do |form| %>
            <%= form.hidden_field(:work_file, value: @work_file_param) if @work_file_param %>
            <%= render 'form', form:, work_form: @work_form, collections: @collections %>
        <% end %>

        <%= render Works::MetadataExtractionServiceInfoComponent.new(service: @metadata_extraction_service) %>
    <% end %>
<% end %>
