<%= form_with model: @work, data: { turbo: false } do |form| %>
    <div>
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control", required: true %>
        <%= form.fields_for :authors do |author_form| %>
            <%= author_form.label :first_name, class: "form-label" %>
            <%= author_form.text_field :first_name, class: "form-control" %>
            <%= author_form.label :last_name, class: "form-label" %>
            <%= author_form.text_field :last_name, class: "form-control" %>
        <% end %>

        <%= form.submit "Submit", class: "btn btn-primary mt-3" %>
    </div>
<% end %>
