<%= form_with model: @work, data: { turbo: false } do |form| %>
    <div>
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control", required: true %>
        <div data-controller="form-add">
            <template data-form-add-target="template">
                <%= form.fields_for :authors, Author.new, child_index: "NEW_RECORD" do |author_form| %>
                    <%= tag.div data: { controller: "form-delete", index: author_form.options[:child_index], form_add_target: "row" } do %>
                        <%= author_form.label :first_name, class: "form-label" %>
                        <%= author_form.text_field :first_name, class: "form-control", required: true %>
                        <%= author_form.label :last_name, class: "form-label" %>
                        <%= author_form.text_field :last_name, class: "form-control", required: true %>
                        <button class="btn btn-secondary mt-2" data-action="form-delete#delete">Delete</button>
                    <% end %>
                <% end %>
            </template>
            <div data-form-add-target="rowContainer">
                <%= form.fields_for(:authors) do |author_form| %>
                    <%= tag.div data: { controller: "form-delete", index: author_form.options[:child_index], form_add_target: "row" } do %>
                        <%= author_form.label :first_name, class: "form-label" %>
                        <%= author_form.text_field :first_name, class: "form-control", required: true %>
                        <%= author_form.label :last_name, class: "form-label" %>
                        <%= author_form.text_field :last_name, class: "form-control", required: true %>
                        <button class="btn btn-secondary mt-2" data-action="form-delete#delete">Delete</button>
                    <% end %>
                <% end %>
            </div>
            <button class="btn btn-secondary mt-2" data-action="form-add#add">Add another</button>
        </div>

        <%= form.label :abstract, class: "form-label" %>
        <%= form.text_area :abstract, class: "form-control" %>
        
        <%= form.submit "Submit", class: "btn btn-primary mt-3" %>
    </div>
<% end %>
