<%= form_with model: @work, data: { turbo: false }, builder: ShroomFormBuilder do |form| %>
    <%= form.hidden_field(:work_file, value: params[:work_file]) if params.key?(:work_file) %>
    <div>
        <%= form.bs_label :title %>
        <%= form.bs_text_field :title %>
        <%= form.bs_invalid_feedback :title %>

        <%= render NestedFormComponent.new(form:, model_class: AuthorForm, field: :authors, form_component: Works::AuthorFormComponent) %>

        <%= form.bs_label :published_year %>
        <%= form.bs_text_field :published_year %>
        <%= form.bs_invalid_feedback :published_year %>

        <%= form.bs_label :published_month %>
        <%= form.bs_text_field :published_month %>
        <%= form.bs_invalid_feedback :published_month %>

        <%= form.bs_label :published_day %>
        <%= form.bs_text_field :published_day %>
        <%= form.bs_invalid_feedback :published_day %>

        <%= form.bs_label :publisher %>
        <%= form.bs_text_field :publisher %>
        <%= form.bs_invalid_feedback :publisher %>

        <%= form.bs_label :abstract %>
        <%= form.bs_text_area :abstract %>
        <%= form.bs_invalid_feedback :abstract %>

        <%= render NestedFormComponent.new(form:, model_class: KeywordForm, field: :keywords, form_component: Works::KeywordFormComponent) %>

        <%= form.submit 'Submit', class: 'btn btn-primary mt-3' %>
    </div>
<% end %>
